.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
  font-family: 'Northwell';
  src: url('./assets/fonts/Northwell.woff2') format('woff2'),
  url('./assets/fonts/Northwell.woff') format('woff');
}

@font-face {
  font-family: 'Northwell Alt';
  src: url('./assets/fonts/NorthwellAlt.woff2') format('woff2'),
  url('./assets/fonts/NorthwellAlt.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Black', Gotham-Black, Avenir, "Open Sans", sans-serif;
  font-weight: 900;
  src: url('./assets/fonts/Gotham-Black.woff2') format('woff2'),
  url('./assets/fonts/Gotham-Black.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Bold', Gotham-Bold, Avenir, "Open Sans bold", sans-serif;
  font-weight: 700;
  src: url('./assets/fonts/Gotham-Bold.woff2') format('woff2'),
  url('./assets/fonts/Gotham-Bold.woff') format('woff');
}

body{
  background-color:white;
}

